<html>
<head>
	<title>SASTRA Deemed University</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<base href="https://www.sastra.edu/index.php" />
    <title>Research - SASTRA Deemed University</title>
</head>
<body oncontextmenu="return false" >
			

	             <nav class="nav-extended white">
					<div class="nav-wrapper">
					  <a href="#" class="brand-logo"><div class="logo2"><img src="/./images/sastra/SASTRA_DEEMED_NEW_1.png" alt="SASTRA" /></div></a>
					  <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
					  <ul id="nav-mobile" class="right hide-on-med-and-down">
							<li><a class="dropdown-trigger blue-text text-darken-2" href="#!" data-target="dropdown1">SASTRA Home</a></li>
							<li><a class="dropdown-trigger blue-text text-darken-2" href="http://127.0.0.1:8000/home/" data-target="dropdown2">Research</a></li>
							<li><a class="dropdown-trigger blue-text text-darken-2" href="http://127.0.0.1:8000/ann" data-target="dropdown3">Announcements</a></li>
							<li><a class="dropdown-trigger blue-text text-darken-2" href="http://127.0.0.1:8000/login1/" data-target="dropdown4">Downloads</a></li>
							<li><a class="dropdown-trigger blue-text text-darken-2" href="!#" data-target="dropdown5">Supervisor</a></li>
							<li><a href="http://127.0.0.1:8000/profile/" class=" blue-text text-darken-2"> Profile</a></li>
							<li><a href="http://127.0.0.1:8000/support/" class=" blue-text text-darken-2"> Support</a></li>
							<li><a href="http://127.0.0.1:8000/logq/" class=" blue-text text-darken-2"> {{logg}}</a></li>
							<br><br><br><br>
					  </ul>
					</div>

			</nav>
			<ul class="sidenav" id="mobile-demo">
					<li><a class="dropdown-trigger blue-text text-darken-2" href="#!" data-target="dropdown1">SASTRA Home</a></li>
					<li><a class="dropdown-trigger blue-text text-darken-2" href="http://127.0.0.1:8000/home/" data-target="dropdown2">Research</a></li>
					<li><a class="dropdown-trigger blue-text text-darken-2" href="http://127.0.0.1:8000/ann" data-target="dropdown3">Announcements</a></li>
					<li><a class="dropdown-trigger blue-text text-darken-2" href="http://127.0.0.1:8000/login1/" data-target="dropdown4">Downloads</a></li>
					<li><a class="dropdown-trigger blue-text text-darken-2" href="!#" data-target="dropdown5">Supervisor</a></li>
					<li><a href="http://127.0.0.1:8000/profile/" class=" blue-text text-darken-2"> Profile</a></li>
					<li><a href="http://127.0.0.1:8000/support/" class=" blue-text text-darken-2"> Support</a></li>
					<li><a href="http://127.0.0.1:8000/logq/" class=" blue-text text-darken-2"> {{logg}}</a></li>
			</ul>
			
			
		<br><br>
	<h1 class="item-page-title">Research</h1>
<div class="blogcontent">
	<p style="text-align: justify;">
		SASTRA realizes the importance of providing a fine balance of research and teaching in its carefully designed academic programmes. &nbsp;This has resulted in over 60 successfully completed research projects and 54 ongoing research projects funded by the Department of Science &amp; Technology, Department of Biotechnology, Department of AYUSH, Defence Research &amp; Development Organization, Defence Research &amp; Development Laboratory, Indian Space Research Organization, Council for Scientific &amp; Industrial Research, Indian Council for Medical Research, etc., and private organizations like Tata Consultancy Services Ltd., Accenture, Orchid Pharmaceuticals Pvt. Ltd., Brakes India Ltd., etc.</p>
	<p style="text-align: justify;">
		&nbsp;</p>
	<p style="text-align: justify;">
		It is our basic belief that good researchers are well equipped to be good teachers &ndash; for, as they have developed a perspective of the future of technology, they are ideally suited to create human resources for both academia and industry.&nbsp;</p>
	<p style="text-align: justify;">
		&nbsp;</p>
	<p style="text-align: justify;">
		Being acutely aware of the importance of interdisciplinary research to tackle scientific and technical challenges in a global scenario, this University has established the SASTRA Hub for Research &amp; Innovation (SHRI) in its premises.&nbsp; The SHRI is a multi&ndash;disciplinary centre that has been a focal point of the University to translate laboratory innovations to product / technology development.&nbsp; Two phases of the Research Block have been established in an area of about 2,00,000 square feet at a cost of Rs 40 crore, exclusively funded by the Management of the University.&nbsp; One more research blocks have been planned in the next three years.</p>
	<p style="text-align: justify;">
		&nbsp;</p>
	<p style="text-align: center;">
		<img alt="" src="/images/sastra/research/ask.jpg" style="width: 800px; height: 541px;" /></p>
	<p style="text-align: justify;">
		&nbsp;</p>
	<p style="text-align: justify;">
		&nbsp;</p>
	<p style="text-align: justify;">
		In addition, the following Centres have been established to foster multi&ndash;disciplinary research:</p>
	<ol style="font-family:Cambria; line-height:2; font-size:14px;">
		<li style="text-align: justify;">
			TIFAC&ndash;CORE on Advanced Computing &amp; Information Processing</li>
		<li style="text-align: justify;">
			National Mechatronics Facility in collaboration with M/s. Brakes India Ltd.</li>
		<li style="text-align: justify;">
			Centre for Advanced Research in Indian Systems of Medicine (CARISM)</li>
		<li style="text-align: justify;">
			Centre for Nanotechnology &amp; Advanced Biomaterials (CeNTAB)</li>
		<li style="text-align: justify;">
			Central Instrumentation Facility</li>
		<li style="text-align: justify;">
			Central Animal Facility for Preclinical Studies</li>
		<li style="text-align: justify;">
			Centre for Advanced Research in Environment (CARE)</li>
		<li style="text-align: justify;">
			National Facility for Development of Herbo&ndash;metallic Preparations of Ayurveda, Siddha and Unani</li>
		<li style="text-align: justify;">
			Centre for Excellence in Scientific Manufacturing of Ayurvedic &amp; Siddha Rasa Aushadies and Bhasmas</li>
		<li style="text-align: justify;">
			Centre for Information Super Highway (CISH)</li>
		<li style="text-align: justify;">
			Centre for Optimization of Power &amp; Energy Systems (COPES)</li>
		<li style="text-align: justify;">
			Centre For Rural Development Studies (CFRDS)</li>
		<li style="text-align: justify;">
			Centre for Nonlinear Science &amp; Engineering (CeNSE)</li>
		<li style="text-align: justify;">
			Centre for Computation Chemistry &amp; Materials Science</li>
	</ol>
</div>
<div class="footer">
	<p>&copy; SASTRA DEEMED UNIVERSITY, All Rights Reserved. 2019</p>
</div>

<style>
body{
	margin:0;
	padding:0;
	min-width: 100%;
}
.nav-wrapper{
   padding-bottom: 7%;
}
.footer{
	width:100%;
	background-color: darkblue;
	color:white;
	height: 5%;
    text-align: center;
}



</style>
<script>
document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('.sidenav').sidenav();
  });
        
</script>
</body>
</html>