<html>
<body>
  <button onclick="func1(this)"><h2>Blah</h2></button>
  <div class="toggle">
    <h2>SHsdss</h2>
    <h2>sjdsdsd</h2>
    <h2>sjldsds</h2>
    <button onclick="func1(this)">Click me!</button>
    <div class="toggle">
      <h2>SSSSS</h2>
      <h2>SSSSSSS</h2>
      <button>Cancel</buttom>
    </div>
  </div>
  <button onclick="func1(this)"><h2>Blah2</h2></button>
  <div class="toggle">
    <h2>sdsds</h2>
    <h2>hsdsdsdsd</h2>
    <h2>sdsdsd</h2>
    <h2>hsdsdsdsd</h2>
    <button>Click Me!</button>
    <div class="toggle">
      <h2>2wewew</h2>
      <h2>Sdddf</h2>
      <button>Cancel</button>
    </div>
  </div>
  <script>
  function func1(i){
   var l=i.nextElementSibling;
   l.style.display="block";
   l.style.height="10px";
  }
  </script>
  <style>
  .toggle{
    display:none;
    height:0px;
    transition: height 2s;
  }
  </style>
</body>
</html>
